@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,600i,700,700i,900');

$illustrations-bp: 730px;

html {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    font-size: 22px;
    letter-spacing: 1px;
}

h1 {
    font-weight: 900;
    font-size: 2em;
}

body {
    margin: 0;
    color: white;
}

p {
    font-weight: 600;
    line-height: 1.7em;

    @media (max-width: $illustrations-bp) {
        line-height: 1.4em;
        width: 100%;
    }
}

a, a:visited {
    font-weight: 700;
    padding: 1px 0;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}

a:hover {
    transition: 250ms all;
    border-bottom-color: #fe4050;
    border-bottom-width: 2px;
}

.section {
    padding: 2em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-red {
    background: url('images/sparkles.png'), linear-gradient(to bottom, #fa6746 0%, rgba(254,64,80,1) 100%);
}

.section-blue {
    background: url('images/sparkles.png'), linear-gradient(to bottom, rgba(91,61,87,1) 0%, rgba(76,101,227,1) 100%);
}

.wrap {
    max-width: 1000px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blue {
    color: rgb(0,69,145);
}

p.center {
    text-align: center;
}

.hashtag {
    font-size: 3em;
    font-weight: 900;
}

.lyric-container {
    color: #333;
    font-weight: 700;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.landing {
    .lyric {
        margin: 16px 0;
        text-align: center;
        line-height: 1.4em;
        @media (max-width: $illustrations-bp) {
            margin-bottom: 0;
        }
    }

    .lyric-source {
        margin-top: 1em;
        font-weight: 900;
    }
}

.illustration {

    @media (min-width: $illustrations-bp) {
        width: 300px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

@media (max-width: $illustrations-bp) {
    .illustration {
        margin-top: 1em;
        height: 200px;
        order: 1;
    }
}

.lyric-container.lyric-container-1 {
    .illustration {
        order: 1;
        margin-bottom: -40px;
        margin-top: -3px;
    }

    @media (max-width: 810px) {
        .bubble img {
            left: 70%;
        }
    }


    @media (min-width: 810px) {
        flex-direction: row;
        justify-content: center;
        height: 350px;
        .bubble {
            align-self: flex-start;
            order: 2;
        }
        .illustration {
            align-self: flex-end;
            margin-right: -60px;
        }
    }
}

.lyric-container.lyric-container-2 {
    @media (min-width: $illustrations-bp) {
        height: 470px;
        flex-direction: row;
        justify-content: center;

        .bubble {
            align-self: flex-start;
            margin-right: -80px;
        }

        .illustration {
            align-self: flex-end;
            margin-bottom: -50px;
            order: 2;
        }
    }

}

.lyric-container.lyric-container-3 {
     @media (min-width: $illustrations-bp) {
        height: 300px;
        flex-direction: row;
        justify-content: center;

        .bubble {
            align-self: flex-start;
            margin-left: -60px;
        }

        .illustration {
            align-self: flex-end;
            margin-bottom: -30px;
        }
    }

}

.lyric-container.lyric-container-4 {
    .bubble {
        margin-bottom: 1em;
    }
    @media (min-width: $illustrations-bp) {
        height: 300px;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        .bubble {
            margin-right: -60px;
        }

        .illustration {
            align-self: flex-end;
            height: 270px;
            width: auto;
            margin-bottom: -30px;
            order: 2;
        }
    }

}

.lyric-container.lyric-container-5 {
    .bubble {
        margin-bottom: 1em;
        img {
            left: 50%;
        }
    }
    @media (min-width: $illustrations-bp) {
        .bubble {
            img {
                left: 40%;
            }
        }

        .illustration {
            margin-left: -100px;
            margin-bottom: -30px;
            order: 2;
        }
    }

}

.lyric {
    margin-bottom: 1.4em;
    line-height: 1.4em;

    @media (max-width: $illustrations-bp) {
        line-height: 1em;
        br {
            line-height: 1.5em;
        }
    }
}

.lyric-source {
    font-style: italic;
    font-size: .75em;
    text-align: right;
}

.bubble {
    display: inline-block;
    padding: 1.5em;
    position: relative;
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;

    img {
        position: absolute;
        bottom: -15%;
        height: 15%;
        width: 15%;

        &.left {
            transform: scaleX(-1);
            left: 10%;
        }

        &.right {
            right: 10%;
        }

        @media (max-width: $illustrations-bp) {
            &.left {
                left: 70%;
            }

            &.right {
                right: 70%;
            }
        }
    }
}

.illustration {
}

#count {
    font-weight: 900;
    font-size: 4em;
    flex: 1 100%;
    margin: 0;
    text-align: center;
}

.tweetcount {
    margin-top: 3em;
    margin-bottom: 2em;
    height: 400px;
    background: url('images/chano_hat.svg') no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    position: relative;
    margin-left: -60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-flow: row wrap;
    padding-top: 110px;
}

footer {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(255, 198, 192);
    color: #333;
    font-size: .8em;

    p {
        flex: 1 100%;
        max-width: none;
        margin: 0;

        &:first-child {
            margin-bottom: 5px;
        }
    }
}

.disclaimer {
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    background-color: rgba(255,255,255,0.7);
    width: 90%;
    max-width: 500px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 1em;
    text-align: center;
    font-size: .5em;
    color: #333;
}

.soundcite-loaded {
    padding: 5px 15px;
    display: inline;
}

.ref {
    display: none;
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    background-color: rgba(255,255,255,0.95);
    max-width: 1000px;

    a::before {
        content: "";
        display: block;
    }

    p {
        margin: 1em auto;
        color: #333;
        line-height: 1.4em;
        max-width: 90%;
        font-size: 0.8em;
    }
}

.ref-link {
    cursor: pointer;
    white-space: nowrap;
    border-radius: 6px;
    padding: 2px 5px;
}

.section-blue .ref-link {
     background-color: rgba(0,0,0,0.5);
}

.section-red .ref-link {
    background-color: rgba(0,0,0,0.3);
}

@media (max-width: 800px) {
    .hashtag {
        font-size: 2.5em;
    }

    .tweetcount {
        font-size: 18px;
        padding-top: 75px;
        height: 300px;
        margin-left: -30px;
        padding-left: 30px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 16px;
    }

    #count {
        font-size: 3.5em;
    }

    .hashtag {
        font-size: 2em;
    }

    .tweetcount {
        font-size: 16px;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .disclaimer {
        font-size: 10px;
    }
}
