@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,600i,700,700i,900|Roboto+Slab:500,700,900");
html {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  font-size: 22px;
  letter-spacing: 1px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif; }

h1 {
  font-weight: 500;
  font-size: 2em; }

body {
  margin: 0;
  color: white; }

p {
  font-weight: 600;
  line-height: 1.7em; }
  @media (max-width: 730px) {
    p {
      line-height: 1.4em;
      width: 100%; } }

a, a:visited {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid; }

a:hover {
  transition: 250ms all;
  border-bottom-color: #fe4050;
  border-bottom-width: 3px; }

.section {
  padding: 2em 0;
  display: flex;
  align-items: center;
  flex-direction: column; }

.section-red {
  background: url("images/sparkles.png"), linear-gradient(to bottom, #fa6746 0%, #fe4050 100%); }
  .section-red a:hover {
    border-bottom-color: #4c65e3; }

.section-blue {
  background: url("images/sparkles.png"), linear-gradient(to bottom, #5b3d57 0%, #4c65e3 100%); }

.voting p,
.voting h4 {
  width: 100%; }
.voting h4 {
  font-size: 1em;
  margin-bottom: 0; }

.wrap {
  max-width: 1000px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.blue {
  color: #004591; }

p.center {
  text-align: center; }

.hashtag {
  font-family: "Roboto Slab", sans-serif;
  font-size: 3em;
  font-weight: 900; }

.lyric-container {
  color: #191919;
  font-weight: 500;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.landing .lyric {
  margin: 16px 0;
  text-align: center;
  line-height: 1.4em; }
  @media (max-width: 730px) {
    .landing .lyric {
      margin-bottom: 0; } }
.landing .lyric-source {
  margin-top: 2em;
  font-weight: 900; }

@media (min-width: 730px) {
  .illustration {
    width: 300px; } }
.illustration img {
  max-height: 100%;
  max-width: 100%; }

@media (max-width: 730px) {
  .illustration {
    margin-top: 1em;
    height: 200px;
    order: 1; } }
.lyric-container.lyric-container-1 .illustration {
  order: 1;
  margin-bottom: -40px;
  margin-top: -3px; }
@media (max-width: 810px) {
  .lyric-container.lyric-container-1 .bubble img {
    left: 70%; } }
@media (min-width: 810px) {
  .lyric-container.lyric-container-1 {
    flex-direction: row;
    justify-content: center;
    height: 350px; }
    .lyric-container.lyric-container-1 .bubble {
      align-self: flex-start;
      order: 2; }
    .lyric-container.lyric-container-1 .illustration {
      align-self: flex-end;
      margin-right: -60px; } }

@media (min-width: 730px) {
  .lyric-container.lyric-container-2 {
    height: 470px;
    flex-direction: row;
    justify-content: center; }
    .lyric-container.lyric-container-2 .bubble {
      align-self: flex-start;
      margin-right: -50px; }
    .lyric-container.lyric-container-2 .illustration {
      align-self: flex-end;
      margin-bottom: -50px;
      order: 2; } }

@media (min-width: 730px) {
  .lyric-container.lyric-container-3 {
    height: 300px;
    flex-direction: row;
    justify-content: center; }
    .lyric-container.lyric-container-3 .bubble {
      align-self: flex-start;
      margin-left: -60px; }
    .lyric-container.lyric-container-3 .illustration {
      align-self: flex-end;
      margin-bottom: -30px; } }

.lyric-container.lyric-container-4 .bubble {
  margin-bottom: 1em; }
@media (min-width: 730px) {
  .lyric-container.lyric-container-4 {
    height: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    .lyric-container.lyric-container-4 .bubble {
      margin-right: -60px; }
    .lyric-container.lyric-container-4 .illustration {
      align-self: flex-end;
      height: 270px;
      width: auto;
      margin-bottom: -30px;
      order: 2; } }

.lyric-container.lyric-container-5 .bubble {
  margin-bottom: 1em; }
  .lyric-container.lyric-container-5 .bubble img {
    left: 50%; }
@media (min-width: 730px) {
  .lyric-container.lyric-container-5 .bubble img {
    left: 40%; }
  .lyric-container.lyric-container-5 .illustration {
    margin-left: -100px;
    margin-bottom: -30px;
    order: 2; } }

.lyric {
  margin-bottom: 1.4em;
  line-height: 1.4em; }
  @media (max-width: 730px) {
    .lyric {
      line-height: 1em; }
      .lyric br {
        line-height: 1.5em; } }

.lyric-source {
  font-style: italic;
  font-size: .75em;
  text-align: right; }

.bubble {
  display: inline-block;
  padding: 1.5em;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px; }
  .bubble img {
    position: absolute;
    bottom: -30px;
    height: 30px;
    width: 15%; }
    .bubble img.left {
      transform: scaleX(-1);
      left: 10%; }
    .bubble img.right {
      right: 10%; }
    @media (max-width: 730px) {
      .bubble img.left {
        left: 70%; }
      .bubble img.right {
        right: 70%; } }

#count {
  font-weight: 900;
  font-size: 4em;
  flex: 1 100%;
  margin: 0;
  text-align: center; }

.tweetcount {
  margin-top: 3em;
  margin-bottom: 2em;
  height: 400px;
  background: url("images/chano_hat.svg") no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  position: relative;
  margin-left: -60px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  flex-flow: row wrap;
  padding-top: 110px; }

footer {
  padding: 1em;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #ffc6c0;
  color: #333;
  font-size: .8em; }
  footer p {
    flex: 1 100%;
    max-width: none;
    margin: 0; }
    footer p:first-child {
      margin-bottom: 5px; }

.disclaimer {
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  max-width: 500px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 1em;
  text-align: center;
  font-size: .5em;
  color: #333; }

.soundcite-loaded {
  padding: 5px 15px;
  display: inline; }

.ref {
  display: none;
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 1000px; }
  .ref p {
    margin: 1em auto;
    color: #333;
    line-height: 1.4em;
    max-width: 90%;
    font-size: 0.8em; }

.ref-link {
  cursor: pointer;
  white-space: nowrap;
  border-radius: 6px;
  padding: 2px 5px; }

.section-blue .ref-link {
  background-color: rgba(0, 0, 0, 0.5); }
  .section-blue .ref-link:hover {
    background-color: rgba(0, 0, 0, 0.7); }

.section-red .ref-link {
  background-color: rgba(0, 0, 0, 0.3); }
  .section-red .ref-link:hover {
    background-color: rgba(0, 0, 0, 0.5); }

@media (max-width: 800px) {
  .hashtag {
    font-size: 2.5em; }

  .tweetcount {
    font-size: 18px;
    padding-top: 75px;
    height: 300px;
    margin-left: -30px;
    padding-left: 30px; } }
@media (max-width: 500px) {
  html {
    font-size: 16px; }

  #count {
    font-size: 3.5em; }

  .hashtag {
    font-size: 2em; }

  .tweetcount {
    font-size: 16px;
    margin-bottom: 1em;
    margin-top: 1em; }

  .disclaimer {
    font-size: 10px; } }
/* FAQ */
#faq {
  margin: 30px 0; }

.issue_details {
  display: none; }

.issue_details.toggled_open {
  display: inline; }

.toggle-issue {
  cursor: pointer; }

@media (min-width: 730px) {
  .toggle-issue, .issue_details {
    padding: 10px 0;
    margin-left: 120px; } }
.toggle-issue::after {
  content: '';
  display: inline-block;
  width: -5px;
  height: 0;
  border-style: solid;
  border-width: 0 8px 12px 8px;
  border-color: transparent transparent white transparent;
  margin-left: 16px;
  opacity: 0.7; }

.toggle-issue.issue_closed::after {
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform .5s ease;
  opacity: 0.7; }

.toggle-issue.issue_open::after {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  transition: transform .5s ease; }

/*# sourceMappingURL=styles-unprefixed.css.map */
